*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: arial;
}
.stats{
  width:27em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
}
.container{
  height:28em;
  width:29em;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  border:solid 1px black;
}
.container div{
  height:45px;
  width:45px;
  border:solid 1px black;
}
.snake{
  background-color: green;
}

.apple{
  background-color: red;
}
